<footer id='footer'>
  <div class="row" id="up_foot">
    <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
      <div id="info">
        <br>
        <span>Awesome Address 432</span>
        <br><br>
        <span>mail@sometype.com</span>
        <br><br>
        <span>+321(0)32 123 456 789</span>
        <br><br>
      </div>
      <!--<img src="images/tria.fw.png">-->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <br>
      <h6> <a pageScroll href="#home_anch"><span class="butt" id="up_arr">&#9651;</span></a> &nbsp;&nbsp;&nbsp; &#169; 2014 <span style="color: #00E0FF;">KET</span>. All rights reserved.</h6>
      <br>
    </div>
  </div>
</footer>
