<div class="services" id="contacts">

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
      <h2>Contact Us</h2>
      <img src="images/mid_und.fw.png"><br><br>
      <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac diam feugiat, blandit nisl sit amet, fringilla enim. Integer consectetur ligula in sagittis accumsan.
          </span>
    </div>
  </div><br><br><br>

  <div class="row" id="form_inputs">

      <form name="myForm" class="form-horizontal" (ngSubmit)="makeCookie()" [formGroup]="userForm">

        <fieldset>

          <div class="row">

            <div class="col-sm-3 col-sm-offset-3 col-xs-10 col-xs-offset-1">
              <input type="text" class="form-control" placeholder="Your name here" formControlName="name">
              <span *ngIf="userForm.get('name').hasError('pattern')">Only letters allowed!</span>
              <span *ngIf="!userForm.get('name').hasError('pattern')" style ="color: #121215;">Only letters allowed!</span>
            </div>

            <div class="col-sm-3 col-sm-offset-0 col-xs-10 col-xs-offset-1">
              <input type="text" class="form-control" placeholder="Your mail here" formControlName="mail">
              <span *ngIf="userForm.get('mail').hasError('pattern')">Letters, numbers, @, _, ., allowed!</span>
              <span *ngIf="!userForm.get('mail').hasError('pattern')" style ="color: #121215;">Letters, numbers, @, _, ., allowed!</span>
            </div>

          </div><br><br>

          <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
              <input type="text" class="form-control" placeholder="Your message here" formControlName="message">
              <span *ngIf="userForm.get('message').hasError('minlength')">Minimal length of message 10 symbols!</span>
              <span *ngIf="!userForm.get('message').hasError('minlength')" style ="color: #121215;">Minimal length of message 10 symbols!</span>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2 col-sm-offset-7 col-xs-6 col-xs-offset-3">
              <button type="submit" class="btn butt" id='btn' [disabled]="!userForm.valid">Send Message</button><br><br>
            </div>
          </div>

        </fieldset>

      </form>

  </div>

</div>
