<app-navigation></app-navigation>

<a name="home_anch" id="home_anch"></a>
<app-slider></app-slider>

<a name="serv_anch" id="serv_anch"></a>
<app-services></app-services>

<a name="portf_anch" id="portf_anch"></a>
<app-portfolio></app-portfolio>

<app-statistics></app-statistics>

<a name="about_anch" id="about_anch"></a>
<app-about></app-about>

<a name="news_anch" id="news_anch"></a>
<!--<app-news></app-news>-->
<router-outlet></router-outlet>

<a name="cont_anch" id="cont_anch"></a>
<app-form></app-form>

<app-footer></app-footer>