<div class="services" id="news">

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
      <h2>Check our news</h2>
      <img src="images/mid_und.fw.png"><br><br>
      <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac diam feugiat, blandit nisl sit amet, fringilla enim. Integer consectetur ligula in sagittis accumsan.
      </span>
    </div>
  </div><br><br><br>


  <div class="row" id="news_desc"
       *ngFor="let article of articles | async | orderBy: ['-date'] | limitTo: 4; let i=index">

      <template [ngIf]="i<limit">

          <div class="col-sm-1 col-sm-offset-3 col-xs-3">
            <h1>{{article.date.split('/')[1]}}</h1>
            <span>{{monthNames[(article.date.split('/')[0] - 1)]}}</span>
          </div>

          <div class="col-sm-5 col-xs-8 text_left">
            <span>{{article.text}}</span>
            <a><h5 (click)="onSelect(article)" pageScroll href="#article_anch">Read More</h5></a>
            <hr>
          </div>

      </template>

  </div>

    <a name="article_anch" id="article_anch"></a>
    <router-outlet></router-outlet>

</div>
