<div class="row services sta" id="statistics" (click)="getPos($event)">

  <div class="col-sm-2 col-sm-offset-2 col-xs-4 col-xs-offset-2">
    <div class='stat_div'>
      <img src="images/comp.fw.png">
      <h2 class="stata">
        <counto [step]="30" [countTo]="projects" [countFrom]="0" [duration]="3" (countoChange)="prj = $event">
          {{prj | number:'1.0-0' }}
        </counto>
      </h2>
      <h5>COMPLETED PROJECTS</h5><br><br>
    </div>
  </div>

  <div class="col-sm-2 col-sm-offset-0 col-xs-4">
    <div class='stat_div'>
      <img src="images/click.fw.png">
      <h2 class="stata">
        <counto [step]="30" [countTo]="clicks" [countFrom]="0" [duration]="3" (countoChange)="clk = $event">
          {{clk | number:'1.0-0' }}
        </counto>
      </h2>
      <h5>CLICKS PRESED</h5><br><br>
    </div>
  </div>

  <div class="col-sm-2 col-sm-offset-0 col-xs-4 col-xs-offset-2">
    <div class='stat_div'>
      <img src="images/mail.fw.png">
      <h2 class="stata">
        <counto [step]="30" [countTo]="mails" [countFrom]="0" [duration]="3" (countoChange)="ml = $event">
          {{ml | number:'1.0-0' }}
        </counto>
      </h2>
      <h5>MAIL SENT&RECIVED</h5><br><br>
    </div>
  </div>

  <div class="col-sm-2 col-sm-offset-0 col-xs-4">
    <div class='stat_div'>
      <img src="images/joke.fw.png">
      <h2 class="stata">
        <counto [step]="30" [countTo]="jokes" [countFrom]="0" [duration]="3" (countoChange)="jks = $event">
          {{jks | number:'1.0-0' }}
        </counto>
      </h2>
      <h5>JOKES TOLD</h5><br><br>
    </div>
  </div>

</div>
