<div class="row services sta" id="statistics">

  <div class="col-sm-2 col-sm-offset-2 col-xs-4 col-xs-offset-2">
    <div class='stat_div'>
      <img src="images/comp.fw.png">
      <h2 class="stata">3054</h2>
      <h5>COMPLETED PROJECTS</h5><br><br>
    </div>
  </div>

  <div class="col-sm-2 col-sm-offset-0 col-xs-4">
    <div class='stat_div'>
      <img src="images/click.fw.png">
      <h2 class="stata">7 234 873</h2>
      <h5>CLICKS PRESED</h5><br><br>
    </div>
  </div>

  <div class="col-sm-2 col-sm-offset-0 col-xs-4 col-xs-offset-2">
    <div class='stat_div'>
      <img src="images/mail.fw.png">
      <h2 class="stata">4670</h2>
      <h5>MAIL SENT&RECIVED</h5><br><br>
    </div>
  </div>

  <div class="col-sm-2 col-sm-offset-0 col-xs-4">
    <div class='stat_div'>
      <img src="images/joke.fw.png">
      <h2 class="stata" id='lol'>939</h2>
      <h5>JOKES TOLD</h5><br><br>
    </div>
  </div>

</div>
